{% extends "../base.jinja2" %}
{% block title %}About Me{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>AboutMe</h1>
    <p class="important">
     {{ link|safe }}
    </p>
{% endblock %}
